/vendor
node_modules
.idea
*.log
*.local.js

# Allow symlinked local packages - always use latest commit on composer/npm/yarn update
composer.lock
package-lock.json
yarn.lock

*.swp
/coverage
/.phpunit.cache
/wordpress-develop

# https://developer.wordpress.org/block-editor/reference-guides/packages/packages-env/#wp-env-override-json
.wp-env.override.json
