# Git attributes - https://www.git-scm.com/docs/gitattributes

# Normalize line endings automatically (CRLF to LF) for files detected as text
* text=auto

# Exclude files for releases

/elandel export-ignore
/tests export-ignore
/tools export-ignore

/.editorconfig export-ignore
/.git export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.prettierrc export-ignore
/.wp-env.json export-ignore
/bun.lockb export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/node_modules export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpunit.xml export-ignore
/playwright.config.js export-ignore
/tangible.config.js export-ignore

/*.DS_store export-ignore
/.DS_store? export-ignore
