.tangible-tester-success-icon svg,
.tangible-tester-fail-icon svg {
  margin-top: -6px;
  width: 16px;
}
.tangible-tester-success-icon svg path {
  fill: green;
}
.tangible-tester-fail-icon svg path {
  fill: red;
}
