
$link-color: $blue !default;
$link-hover-color: $blue !default;
$link-text-decoration: none !default;
$link-hover-text-decoration: underline !default;

$link-color-on-dark: $light-gray !default;
$link-hover-color-on-dark: $white !default;

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  cursor: pointer;

  &:hover, &:active {
    text-decoration: $link-hover-text-decoration;
  }
  //&:not(.btn) {
    &:hover, &:active, &:focus {
      color: $link-hover-color;
    }
  //}
}

.theme-dark {
  a {
    color: $link-color-on-dark;

    &:hover, &:active, &:focus {
      color: $link-hover-color-on-dark;
    }
  }
}
