
$paragraph-font-size: 1rem !default;
$paragraph-margin-top: $space-2 !default;
$paragraph-margin-bottom: $space-2 !default;

$list-margin-top: 0 !default;
$list-margin-bottom: 12px !default; // $space-1
$list-padding-left: $space-4 !default;
$list-line-height: 1.85rem !default;

html {
  font-size: $base-font-size;
}

body {
  color: $body-color;
  background-color: $body-background-color;
  word-wrap: break-word;
}

body, .body-font-style {
  font-family: $font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $line-height; //1.625rem;
  letter-spacing: $letter-spacing;
}

b {
  font-weight: $bold-font-weight;
}
strong {
  font-weight: bold;
}

$wider-letter-space: .03em;
.letter-space { letter-spacing: $wider-letter-space }

.break-word {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

p, .p {
  //@extend .break-word;
  font-size: $body-font-size;
  line-height: $line-height;
  margin-top: $paragraph-margin-top;
  margin-bottom: $paragraph-margin-bottom;
}

// Markdown support: consistent
li p {
  margin-top: $space-1;
  margin-bottom: $space-1;
}
li > p:first-child {
  line-height: $list-line-height;
  margin-top: 0;
  margin-bottom: 0;
}

dl, ol, ul {
  margin-top: $list-margin-top;
  margin-bottom: $list-margin-bottom;
  padding-left: $list-padding-left;
  line-height: $list-line-height;
}

dl dl, ol ol, ul ul {
  margin-bottom: 0.5rem;
  padding-left: $list-padding-left / 2;
}

blockquote {
  line-height: $line-height;
  margin: 1.25rem 0 1.25rem 1.25rem;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

blockquote>:first-child {
  margin-top: 0;
}

blockquote>:last-child {
  margin-bottom: 0;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

img { border-radius: $border-radius; }


// .article-width {
//   //max-width: $article-width;
//   margin: 0 auto;
//   padding: 1rem 1.5rem 2rem;
//   h1, h2 {
//     // GitHub style
//     padding-bottom: $space-1 / 1.5;
//     border-bottom: 1px solid $border-color;
//     text-align: left;
//   }
//   h3 {
//     margin-top: 2rem;
//     margin-bottom: 1rem;
//   }
//   h4, h5, h6 {
//     margin-top: 1.5rem;
//     margin-bottom: 1rem;
//   }
//   & > h1:first-child,
//   & > h2:first-child {
//     margin-top: 0 !important;
//   }
// }

// @include less-than(sm) {
//   .article-width {
//     padding-left: .75rem;
//     padding-right: .75rem;
//   }
// }
