/**
Name: Tangible Light
Based on IntelliJ IDEA default theme by JetBrains
*/

.cm-s-tangible-light,
.CodeMirror-hints.tangible-light {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  // font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.cm-s-tangible-light span.cm-number { color: #0000FF; }
.cm-s-tangible-light span.cm-string { color: #4dbb00; }
.cm-s-tangible-light span.cm-string-2 { color: #4dbb00; }
.cm-s-tangible-light span.cm-keyword {
  // line-height: 1em; font-weight: bold;
  color: #000080;
}
.cm-s-tangible-light span.cm-atom { color: #0000FF; }
.cm-s-tangible-light span.cm-def { color: #000000; }

.cm-s-tangible-light span.cm-tag,
.cm-s-tangible-light span.cm-variable,
.cm-s-tangible-light span.cm-variable-3 { color: #000080; }

/* .cm-s-tangible-light span.cm-variable-2 { color: black; }
.cm-s-tangible-light span.cm-variable-3, .cm-s-tangible-light span.cm-type { color: black; } */

.cm-s-tangible-light span.cm-operator { color: black; }
.cm-s-tangible-light span.cm-comment { color: #808080; }

.cm-s-tangible-light span.cm-qualifier { color: #555; }
.cm-s-tangible-light span.cm-error { color: #FF0000; }

// .cm-s-tangible-light span.cm-attribute { color: #0000FF; }

.cm-s-tangible-light span.cm-dynamic-tag,
.cm-s-tangible-light span.cm-variable-2 { color: #a100b9; }

.cm-s-tangible-light span.cm-link { color: #0000FF; }
.cm-s-tangible-light .CodeMirror-activeline-background { background: #ebf3fd; }

.cm-s-tangible-light span.cm-builtin { color: #30a; }

.cm-s-tangible-light span.cm-property,
.cm-s-tangible-light span.cm-attribute,
.cm-s-tangible-light span.cm-meta { color: #0000FF; } // 00955f

.cm-s-tangible-light span.cm-bracket { color: #997; }

// Matching

.cm-s-tangible-light .CodeMirror-matchingbracket {
  outline:1px solid #ccc;
  color:black !important;
}
.cm-s-tangible-light .CodeMirror-matchingtag {
  background-color: transparent;
  // background: #ebf3fd; // rgb(255, 235, 206);
  border-bottom: 1px dotted #30a;
}

// Hints

.CodeMirror-hints.tangible-light {
  color: #616569;
  background-color: #ebf3fd !important;
}

.CodeMirror-hints.tangible-light .CodeMirror-hint-active {
  background-color: #a2b8c9 !important;
  color: #5c6065 !important;
}

/*
.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
*/
