.tangible-blocks__loop-gallery {

  padding-top: 10px;

  .spinner {
    margin-top: 150px;
    visibility: visible;
    z-index: 101;
  }

  .theme {

    cursor: default;
    &:hover {
      cursor: default;
    }

    &.pro::before {
      content: 'Pro';
      /* width: 50px; */
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 100;
      background: #2c3338;
      color: #fff;
      font-size: 11px;
      display: inline-block;
      padding: 2px 8px;
      border-radius: 2px;
      -webkit-user-select: none;
      user-select: none;
    }

    .theme-screenshot {

      cursor: pointer;

      .theme-vendor-wrap {
        position: absolute;
        bottom: 15px;
        right: 15px;

        &:hover {
          background: aliceblue;
          border-radius: 25px 5px 5px 25px;

          -webkit-box-shadow: 4px 4px 5px 4px rgba(99, 99, 99, 0.7) inset;
          box-shadow: 4px 4px 5px 4px rgba(99, 99, 99, 0.7) inset;
          z-index: 10;
        }

        img.theme-vendor-logo {
          border-radius: 50%;
          height: 36px;
          width: 36px;
          position: initial;
          vertical-align: middle;
        }

        a.theme-vendor-link {
          padding: 5px;
          outline: none;
          text-decoration: none;
        }
      }
    }

    .theme-actions {
      box-shadow: none;
      border: none;
      /*background-color: #fff;*/
    }

    .theme-copy {
      background-color: #fff;
      overflow: hidden;
      white-space: nowrap;

      & > * { /* Ensure any text we put in here gets same treatment as h2.theme-name */
        padding-left: 15px;
        padding-bottom: 5px;
      }
      & > *:last-child {
        padding-bottom: 15px;
      }

      .theme-details {

        white-space: pre-wrap;

        .dependency {
          cursor: pointer;
          color: #fff;
          font-size: 11px;
          display: inline-block;
          padding: 2px 8px;
          border-radius: 2px;
          margin-right: 5px;
          margin-bottom: 1px;
        }
        .dependency.met {
          background-color: #007017; /* Green and Red 60 according to latest WP Colour Palette */
        }
        .dependency.unmet {
          background-color: #b32d2e;
        }
      }
    }

  }

  .tablenav-pages {
    .button, .paging-input {
      margin-right: 3px;
    }
  }

}

.components-modal__screen-overlay-wpcontent {
  align-items: flex-start;
  justify-content:center;
  animation:edit-post__fade-in-animation .2s ease-out 0s;
  animation-fill-mode:forwards;
  background-color:rgba(0,0,0,.35);
  bottom:0;
  display:flex;
  left:-20px; /* Offset padding of #wpcontent */
  position:absolute;
  right:0;
  top:0;
  z-index:100
}
