@function box-shadow($value) {
  @if index($box-shadow, $value) != null {
    @error "#{value} does not exist in $box-shadow.";
  }
  @return map-get($box-shadow, $value);
}

$box-shadow: (
  sm: 0 1px 2px 0 rgb(0 0 0 / 0.05),
  DEFAULT: (
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px 0 rgb(0 0 0 / 0.06),
  ),
  md: (
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -1px rgb(0 0 0 / 0.06),
  ),
  lg: (
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -2px rgb(0 0 0 / 0.05),
  ),
  xl: (
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 10px 10px -5px rgb(0 0 0 / 0.04),
  ),
  2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25),
  inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.06),
  none: none,
);

@function opacity($value) {
  @if index($opacity, $value) != null {
    @error "#{value} does not exist in $opacity.";
  }
  @return map-get($opacity, $value);
}

$opacity: (
  0: 0,
  5: 0.05,
  10: 0.1,
  20: 0.2,
  25: 0.25,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  75: 0.75,
  80: 0.8,
  90: 0.9,
  95: 0.95,
  100: 1,
);
