@function flex($value) {
  @if index($flex, $value) != null {
    @error "#{value} does not exist in $flex.";
  }
  @return map-get($flex, $value);
}

$flex: (
  1: 1 1 0%,
  auto: 1 1 auto,
  initial: 0 1 auto,
  none: none,
);

@function flex-grow($value) {
  @if index($flex-grow, $value) != null {
    @error "#{value} does not exist in $flex-grow.";
  }
  @return map-get($flex-grow, $value);
}

$flex-grow: (
  0: 0,
  DEFAULT: 1,
);

@function flex-shrink($value) {
  @if index($flex-shrink, $value) != null {
    @error "#{value} does not exist in $flex-shrink.";
  }
  @return map-get($flex-shrink, $value);
}

$flex-shrink: (
  0: 0,
  DEFAULT: 1,
);

@function order($value) {
  @if index($order, $value) != null {
    @error "#{value} does not exist in $order.";
  }
  @return map-get($order, $value);
}

$order: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  first: -9999,
  last: 9999,
  none: 0,
);
