@function transition-property($value) {
  @if index($transition-property, $value) != null {
    @error "#{value} does not exist in $transition-property.";
  }
  @return map-get($transition-property, $value);
}

$transition-property: (
  none: none,
  all: all,
  DEFAULT: (
    background-color,
    border-color,
    color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
  ),
  colors: (
    background-color,
    border-color,
    color,
    fill,
    stroke,
  ),
  opacity: opacity,
  shadow: box-shadow,
  transform: transform,
);

@function transition-timing-function($value) {
  @if index($transition-timing-function, $value) != null {
    @error "#{value} does not exist in $transition-timing-function.";
  }
  @return map-get($transition-timing-function, $value);
}

$transition-timing-function: (
  DEFAULT: (
    cubic-bezier(0.4, 0, 0.2, 1),
  ),
  linear: linear,
  in: (
    cubic-bezier(0.4, 0, 1, 1),
  ),
  out: (
    cubic-bezier(0, 0, 0.2, 1),
  ),
  in-out: (
    cubic-bezier(0.4, 0, 0.2, 1),
  ),
);

@function transition-duration($value) {
  @if index($transition-duration, $value) != null {
    @error "#{value} does not exist in $transition-duration.";
  }
  @return map-get($transition-duration, $value);
}

$transition-duration: (
  75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
  700: 700ms,
  1000: 1000ms,
  DEFAULT: 150ms,
);

@function transition-delay($value) {
  @if index($transition-delay, $value) != null {
    @error "#{value} does not exist in $transition-delay.";
  }
  @return map-get($transition-delay, $value);
}

$transition-delay: (
  75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
  700: 700ms,
  1000: 1000ms,
);
