@function scale($value) {
  @if index($scale, $value) != null {
    @error "#{value} does not exist in $scale.";
  }
  @return map-get($scale, $value);
}

$scale: (
  0: 0,
  50: 0.5,
  75: 0.75,
  90: 0.9,
  95: 0.95,
  100: 1,
  105: 1.05,
  110: 1.1,
  125: 1.25,
  150: 1.5,
);

@function rotate($value) {
  @if index($rotate, $value) != null {
    @error "#{value} does not exist in $rotate.";
  }
  @return map-get($rotate, $value);
}

$rotate: (
  0: 0deg,
  1: 1deg,
  2: 2deg,
  3: 3deg,
  6: 6deg,
  12: 12deg,
  45: 45deg,
  90: 90deg,
  180: 180deg,
);

@function skew($value) {
  @if index($skew, $value) != null {
    @error "#{value} does not exist in $skew.";
  }
  @return map-get($skew, $value);
}

$skew: (
  0: 0deg,
  1: 1deg,
  2: 2deg,
  3: 3deg,
  6: 6deg,
  12: 12deg,
);
